*.class
*.iws
*.iml
*.ipr
.idea
.idea/*
*.bak
target
.gradle/
test-reports/*
.DS_Store
xcuserdata/
DerivedData/
.project
.pydevproject
.settings/
saccounts_oauth.egg-info/
*.pyc
*.log
*.stats
*.apk
*.ap_
*.dex
gen/
local.properties
proguard/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa
.metadata/
.metadata/*
# Logs
logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
node_modules
/.settings
/target
/.classpath
/.project
/.idea
/.externalToolBuilders