<!-- answer -->
<!--     <div class="content row answer">
        <a href="/app/q/${bean.question.id}" class="answer-title">
            <h4 class="heading" data-answer-id="${bean.answer.id}">${bean.question.title}</h4>
        </a>
        <section class="media media-article" block-name="ques">
            <div class="column-head">
                <div class="clearfix">
                    <div class="column-user">
                        <div class="inner">
                            <a href="javascript:;" data-user-id="${bean.answer.user.bpId}" data-user-originid="${bean.answer.user.bpIdOrigin}" data-user-type="${bean.answer.user.bpUserType}"  class="pic"><img src="${bean.answer.user.avatar}" class="img-circle"><%if(bean.answer.user.identityString != "00"){%><i class="iconfont badge${bean.answer.user.identityString}-p icon-vip"></i><%}%></a>
                            <a href="javascript:;" data-user-id="${bean.answer.user.bpId}" data-user-originid="${bean.answer.user.bpIdOrigin}" data-user-type="${bean.answer.user.bpUserType}"   class="info">
                                <div class="name">${bean.answer.user.nick}</div><span class="txt">${bean.answer.user.description}</span></a>
                                   <%if(bean.answer.owner){%>
                                    <div class="btn-primary attention pull-right" btn-action="modify"><span class="atten">修改回答</span></div>
                                <%}else{%>
                            <div class="btn-primary attention pull-right <%if(bean.answer.user.hasFollowed){%>active<%}%>" btn-action="attention" data-id="${bean.answer.user.bpId}"><span class="atten">+ 关注</span><span class="atten-after">已关注</span></div>
                            <%}%>
                        </div>
                    </div>
                </div>
            </div>
            <dl class="list clearfix">
                <dd>
                    <div class="cell">
                        <div class="inner">
                            <div class="answer active">${bean.answer.content}</div>
                        </div>
                        <div class="report" btn-action="report">举报</div>
                    </div>
                </dd>
                <div class="btn-votebox">
                    <a class="btn-vote <%if(bean.answer.hasLiked){%>active<%}%>" btn-action="zan" data-zan-num="${bean.answer.likeNumHuman}"><i class="iconfont icon-agree"></i><span><%if(bean.answer.hasLiked){%>${bean.answer.likeNumHuman}<%}else{%>赞成<%}%></span></a>
                     <a class="btn-vote <%if(bean.answer.hasTreaded){%>active<%}%>" btn-action="unzan"><i class="iconfont icon-against"></i><span>${bean.answer.treadNumHuman}</span></a>
                </div>
            </dl>
        </section>
         <%if(bean.commentList!=null&&bean.commentList.~size!=0){%>
        <div class="tit-space" id="comment"> ${bean.answer.commentNumHuman}个评论</div>
        <section class="media media-horizontal comment">
            <dl class="list clearfix" block-name="list" data-currpage="1" data-nextpage="${bean.nextPageNo}">
             <%for (comment in bean.commentList){%>
                <dd>
                    <div class="cell">
                        <div class="inner">
                            <a href="javascript:;" data-user-id="${comment.user.bpId}" data-user-originid="${comment.user.bpIdOrigin}" data-user-type="${comment.user.bpUserType}" class="pic img-circle"><img src="${comment.user.avatar}" class="img-circle"><%if(comment.user.identityString != "00"){%><i class="iconfont badge${comment.user.identityString}-m">&#xe6301;</i><%}%></a>
                            <h4 class="heading"><span class="txt">${comment.user.nick}</span><span class="icon-box"><p class="comment-time top">${comment.updateTimeHuman}</p></span></h4>
                            <p class="info"><span class="txt">${comment.content}</span></p>
                        </div>
                    </div>
                </dd>
               <%}%>
            </dl>
        </section>
		<%}%>
        <div class="btn-occupy">
            <div class="write-comment comm-icon">
            <a href="javascript:;" class="write-content" btn-action="write-comment"><i class="iconfont icon-write"></i>我要表态...</a>
            <span>
            	<a href="#comment" class="collect"><i class="iconfont icon-comment"></i><%if (bean.answer.commentNumHuman != '0'){%><div class="message-num"><span>${bean.answer.commentNumHuman}</span></div><%}%></a>
            	<a href="javascript:;" class="collect <%if(bean.answer.hasFavorited){%>active<%}%>" data-id="${bean.answer.id}" btn-action="collection"><i class="iconfont collected icon-favored"></i><i class="iconfont col icon-favor"></i></a>
            	<a href="javascript:;" class="share" btn-action="share"><i class="iconfont icon-share"></i></a>
            </span>
        </div>
    </div>
    </div> -->




    <!-- column -->
        <!-- <section class="header-avatar">
        <div class="clearfix">
            <div class="pic"><img src="${bean.wapCover}">
                <div class="inner">
                    <div class="heading" data-column-id="${bean.id}">${bean.name}</div>
                    <div class="txt">${bean.publishTime}</div>
                    <div class="btn-box">
                        <div class="btn-trans collection <%if(bean.hasFavorited){%>active<%}%>" btn-action="collection"><span class="col">收藏</span><span class="colled">已收藏</span></div>
                        <div class="btn-trans share" btn-action="share">分享</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="content row column">
        <section class="column-head">
            <div class="clearfix">
                <div class="column-user">
                    <div class="inner">
                        <a href="javascript:;" data-user-id="${bean.userInfo.bpId}" data-user-originid="${bean.userInfo.bpIdOrigin}" data-user-type="${bean.userInfo.bpUserType}" class="pic"><img src="${bean.userInfo.avatar}" class="img-circle"><%if(bean.userInfo.identityString != "00"){%><i class="iconfont badge${bean.userInfo.identityString}-p icon-vip"></i><%}%></a>
                        <a href="javascript:;" class="info">
                            <div class="name">${bean.userInfo.nick}</div><span class="txt">${bean.userInfo.description}</span></a>
                           <%if(!bean.userInfo.isOwner){%> 
                        <div class="btn attention pull-right <%if(bean.userInfo.hasFollowed){%>active<%}%>" btn-action="attention" data-id="${bean.userInfo.bpId}"><span class="atten">+ 关注</span><span class="atten-after">已关注</span></div>
                        <%}%>
                    </div>
                </div>
                <div class="the-front" id="column0">
                     ${bean.brief}
                </div>
                <div class="column-txt">
                <%for(column in bean.content){%>
                    <div class="colu-heading" id="column${columnLP.index}">${column.title}</div>
                    <div class="inner">
                        <div class="colu-txt">
                           ${column.wapDetail}
                        </div>
                    </div>
                <%}%>
                  <div class="report" btn-action="report">举报</div>
                </div>
                <%if(bean.tags!=null && bean.tags.~size>0){%>
                <div class="tag-box">
                    <div class="tag-bottom">
                    <%for(tag in bean.tags){%>
                    <a href="javascript:;" data-tag-id="${tag.id}" class="label">${tag.name}</a>
                    <%}%>
                   </div>
                </div>
                <%}%>
            </div>
        </section>
          <%if(bean.questionList.~size>0){%>
        <div class="tit-space">${bean.total}个提问</div>
        <section class="media media-question">
            <dl class="list clearfix" data-block="list" data-currpage="${bean.currPageNo}" data-nextpage="${bean.nextPageNo}">
            <%for(question in bean.questionList){%>
                <dd>
                    <div class="cell">
                        <div class="inner">
                            <div class="pic-mixin user-info clearfix">
                                <a href="javascript:;" data-user-id="${question.user.bpId}" data-user-originid="${question.user.bpIdOrigin}" data-user-type="${question.user.bpUserType}"><img src="${question.user.avatar}" class="img-circle"><%if(question.user.identityString != "00"){%><i class="iconfont icon-vip badge${question.user.identityString}-m"></i><%}%><span>${question.user.nick}</span></a><span class="txt-date pull-right">${question.updateTimeHuman}</span></div>
                            <a href="/app/q/${question.itemId}">
                                <div class="heading">${question.title}</div>
                            </a>
                        </div>
                    </div>
                </dd>
                <%}%>
            </dl>
        </section>
        <%}%>
        <div class="catalog">
            <div class="info">目录</div><i class="iconfont pull-right icon-right"></i></div>
        <div class="btn-circle" btn-action="pub"><i class="iconfont icon-add"></i></div>
    </div>
    <section class="progress-step hide" block-list="catalog">
        <div class="inner">
            <div class="progress-tit">目录</div>
            <a href="#column0">简介</a>
             <%if(bean.content!=null && bean.content.~size>0){%>
             <%for(title in bean.content){%>
            <a href="#column${titleLP.index}">${title.title}</a>
          <%}%>
          <%}%>
            <div class="btn-delete" btn-action="delete-catalog"><i class="iconfont icon-delete"></i></div>
        </div> -->
   <!--  </section> -->


   <!-- question -->
      <!--  <div class="content row question">
        <%if(bean.question.tagList!=null && bean.question.tagList.~size!=0){%>
        <div class="taglist">
            <div class="tag-box">
                <div class="nav-wra">
                  <%for(tag in bean.question.tagList){%>
                    <a href="javascript:;" data-tag-id="${tag.tagId}" class="label">${tag.tagName}</a>
                    <%}%>
                </div>
            </div>
        </div>
        <%}%>        <a href="javascript:;" class="answer-title"><h4 class="heading" data-question-id="${bean.question.id}" data-vstype= "${bean.question.specialId}">${bean.question.title}</h4></a>
        <section class="media media-article">
            <div class="column-head">
                <div class="clearfix">
                    <div class="column-user">
                        <div class="inner">
                            <a href="javascript:;" data-user-id="${bean.question.user.bpId}" data-user-originid="${bean.question.user.bpIdOrigin}" data-user-type="${bean.question.user.bpUserType}" class="pic"><img src="${bean.question.user.avatar}" class="img-circle"><%if(bean.question.user.identityString != "00"){%><i class="iconfont badge${bean.question.user.identityString}-p icon-vip"></i><%}%></a>
                            <a href="javascript:;" data-user-id="{bean.question.user.bpId}" data-user-originid="${bean.question.user.bpIdOrigin}" data-user-type="${bean.question.user.bpUserType}" class="info">
                                <div class="name">${bean.question.user.nick}</div><span class="txt">${bean.question.user.description}</span></a>
                                <%if(bean.question.user.owner){%>
                            
                                <%}else{%>
                            <div class="btn-primary attention pull-right <%if(bean.question.user.hasFollowed){%>active<%}%>" btn-action="attention" data-id="${bean.question.user.bpId}"><span class="atten">+ 关注</span><span class="atten-after">已关注</span></div>
                            <%}%>
                        </div>
                    </div>
                </div>
            </div>
            <dl class="list clearfix">
                <dd>
                    <div class="cell">
                        <div class="inner">
                        <%if(bean.question.plainText != ""){%>
                            <div class="answer active">${bean.question.plainText}</div>
                            <%}%>
                            <div class="pic-nine" data-big-imglist="img">
                               <%if(bean.question.imageSmallList!=null && bean.question.imageSmallList !=""){%>
                            	<%for(imgs in bean.question.imageSmallList){%>
                                <div class="pic">
                            	<img src="${imgs}" data-index="${imgsLP.index}" data-big-img="${bean.question.imageList[imgsLP.index-1]}">
                                </div>
                           		<%}%>
                                <%}%>
                            </div>
                              <div class="clearfix"><div class="report" btn-action="report">举报</div></div>
                            <div class="vs-box" data-choose-option="${bean.choosedOption}">
                                <div class="vs-title"></div>
                                <div class="vs-inner">
                                    <div class="clearfix">
                                    <%for(option in bean.question.options){%>
                                        <div class="vs-cell"  data-count="${option.count}"><img src="${option.img}">
                                            <div class="vs-txt">
                                               ${option.description}
                                            </div>
                                        </div>
                                        <%}%>
                                        <div class="vs-logo"><span>VS</span></div>
                                    </div>
                                </div>
                                <div class="vs-stand">
                                    <div class="pic-box pull-left">
                                    <%if(bean.question.choosedUsers!=null &&bean.question.choosedUsers.~size>0){%>
                                        <%for(avatar1 in bean.question.choosedUsers[0]){%>
                                        <img src="${avatar1.avatar}" class="img-circle">
                                        <%}%>
                                        <%}%>
                                    </div>
                                 <span>已有<i bolck-name="totalchoosednum">${bean.question.totalChoosedNum}</i>人加入站队</span>
                                    <div class="pic-box pull-right">
                                    <%if(bean.question.choosedUsers!=null && bean.question.choosedUsers.~size>1){%>
                                     <%for(avatar2 in bean.question.choosedUsers[1]){%>
                                        <img src="${avatar2.avatar}" class="img-circle">
                                        <%}%>
                                        <%}%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </dd>
                <div class="btn-occupy occupy-one">
                    <div class="bottom-box">
                        <div class="contact-box"><a href="javascript:;" class="share" btn-action="share"><span><i class="iconfont icon-share"></i><span>立即分享</span></span></a><a href="javascript:;" class="invite-ans" btn-action="invite"><span><i class="iconfont icon-friendadd"></i><span>邀请站队</span></span></a><a href="javascript:;" class="contact-btn" btn-action="answer"><span><i class="iconfont icon-write"></i><span>我要回答</span></span></a></div>
                    </div>
                </div>
            </dl>
        </section>
         <%if(bean.question.answerNumHuman!=0){%>
        <div class="tit-space">${bean.question.answerNumHuman}个回答</div>
        <div class="tabs-four">
            <div class="tab active" data-ans-type="-1">全部</div>
            <div class="tab" data-ans-type="1">赞同(${bean.question.answerCounts[0]})</div>
            <div class="tab" data-ans-type="2">反对(${bean.question.answerCounts[1]})</div>
            <div class="tab" data-ans-type="0">不站队(${bean.question.answerCounts[2]})</div>
        </div>
        <section class="media media-question">
            <dl class="list clearfix" data-currpage="1" data-nextpage="${bean.nextPageNo}" data-block="list">
   				<% for(answerData in bean.answerList){%>
                <dd>
				    <div class="cell">
				        <div class="inner">
				            <div class="pic-mixin user-info clearfix">
				                <a href="javascript:;" data-user-id="${answerData.user.bpId}" data-user-originid="${answerData.user.bpIdOrigin}" data-user-type="${answerData.user.bpUserType}"  ><img src="${answerData.user.avatar}" class="img-circle"><%if(answerData.user.identityString != "00"){%><i class="iconfont icon-vip badge${answerData.user.identityString}-m"></i><%}%><span>${answerData.user.nick}</span></a><span class="txt-date pull-right">${answerData.updateTimeHuman}</span></div>
				            <a href="/app/a/${answerData.itemId}">
				                <div class="txt">${answerData.content}</div>
				            </a>
				        </div>
				    </div>
				    <%switch(answerData.specialId){%>
						<%case '100':%>
							<div class="vs-tag-A">${answerData.specialLabel}</div>
							<%break;%>
						<%case '201':%>
						<div class="vs-tag-B">${answerData.specialLabel}</div>
						<%break;%>
						<%default:%>
						<%break;%>
				    <%}%>				    
				</dd>
				<%}%>
            </dl>
        </section>
        <%}%>
    </div> -->

    <!--     <div class="content row question">
     <%if(bean.question.tagList!=null && bean.question.tagList.~size!=0){%>
        <div class="taglist">
            <div class="tag-box">
                <div class="nav-wra">
                  <%for(tag in bean.question.tagList){%>
                    <a href="javascript:;" data-tag-id="${tag.tagId}" class="label">${tag.tagName}</a>
                    <%}%>
                </div>
            </div>
        </div>
        <%}%>
        <section class="media media-article">
            <dl class="list clearfix">
                <dd>
                    <div class="cell">
                        <div class="inner">
                            <h4 class="heading" data-question-id=${bean.question.id}"">${bean.question.title}</h4>
                            <%if(bean.question.content != ""){%>
                            <div class="answer" block-name="anscontent">
                                <div class="ans-inner">${bean.question.content}
                                </div>
                            </div>
                            <%}%>
                            <a href="javascript:;" class="close hide" btn-action="scale"><span class="off">全部展开</span><span class="on">收起</span><i class="iconfont icon-down off"></i><i class="iconfont icon-up on"></i></a>
                        </div>
                         <div class="report" btn-action="report">举报</div>
                    </div>
                </dd>
                <div class="atten-box">
                    <div class="clearfix">
                        <div class="follow-box">
                            <span class="atten-num">${bean.question.fansNumHuman}</span><span>人关注</span>
                        </div>
                        <div class="pic-box" block-name="userlist">
                         <%if(bean.question.followUsers != null &&  bean.question.followUsers.~size>0){%>
                         <%for(user in bean.question.followUsers){%>
                        	<img src="${user.avatar}" class="img-circle">
                            <%}%>
                            <%}%>
                        </div>
                        <%var modifyText = "";%>
                       <%switch(bean.question.specialType){%>
                         <% case 0:%>
                           <% modifyText = "问题";%>
                           <% break;%>
                          <%default:%>
                           <% modifyText = "描述";%>
                                <%break;%>
                       <% }%>
                         <%if(bean.question.owner){%>
                          <a href="javascript:;" class="btn-primary attention pull-right" btn-action="modify"><span class="atten">修改${modifyText}</span></a>
                          <%}else{%>
                        <a href="javascript:;" class="btn-primary attention pull-right  <%if(bean.question.hasFollowed){%>active<%}%>" btn-action="attention"><span class="atten">+ 关注</span><span class="atten-after">已关注</span></a>
                        <%}%>
                    </div>
                </div>
                <div class="btn-occupy occupy-one">
                    <div class="bottom-box">
                        <div class="contact-box">
                        	<a href="javascript:;" class="share" btn-action="share"><span><i class="iconfont icon-share"></i><span>立即分享</span></span></a>
                        	<a href="javascript:;" class="invite-ans" btn-action="invite"><span><i class="iconfont icon-friendadd"></i><span>邀请回答</span></span></a>
                        	<a href="javascript:;" class="contact-btn" btn-action="answer"><span><i class="iconfont icon-write"></i><span>我要回答</span></span></a>
                        </div>
                        <div class="ans-tip">投票成功，还可以补充回答哟</div>
                    </div>
                </div>
            </dl>
        </section>
        <%if(bean.question.options !=null && bean.question.options.~size!=0){%>
        <section class="media media-horizontal">
            <div class="title">
                <div class="inner no-border">
                    <p class="tit-con">帮我做选择</p>
                </div>
            </div>
            <dl class="list clearfix" block-name="votelist" data-total-count="${bean.question.totalChoosedNum}" data-has-vote="${bean.choosedOption}">
            <%for(option in bean.question.options){%>
               <dd>
                    <div class="cell">
                        <div class="inner">
                              <%if(option.img!=null && option.img != ""){%><div class="pic"><img src="${option.imgSmall}" data-big-img="${option.img}" data-count="${option.count}"></div><%}%>
                            <label>
                                <div class="heading" data-count="${option.count}"><span class="txt">${option.description}</span>
                                    <input type="radio" value="${optionLP.index}" name="vote" class="pull-right">
                                </div>
                            </label>
                        </div>
                    </div>
                </dd>
                <%}%>
            </dl>
            <div class="btn-voting" btn-action="vote">
                <div class="inner"><i class="iconfont icon-vote"></i><span>投票</span></div>
            </div>
        </section>
        <%}%>
        <%if(bean.answerList!=null&&bean.answerList.~size!=0){%>
        <div class="tit-space">${bean.question.answerNumHuman}个回答</div>
        <section class="media media-question">
            <dl class="list clearfix" data-currpage="1" data-nextpage="${bean.nextPageNo}" data-block="list">
             <% for(answerData in bean.answerList){%>
                <dd>
                    <div class="cell">
                        <div class="inner">
                            <div class="pic-mixin user-info clearfix">
                                <a href="javascript:;" data-user-id="${answerData.user.bpId}" data-user-originid="${answerData.user.bpIdOrigin}" data-user-type="${answerData.user.bpUserType}"><img src="${answerData.user.avatar}" class="img-circle"><%if(answerData.user.identityString != "00"){%><i class="iconfont icon-vip badge${answerData.user.identityString}-m"></i><%}%><span>${answerData.user.nick}</span></a>
                                <span class="txt-date pull-right">${answerData.updateTimeHuman}</span>
                            </div>
                            <a href="/app/a/${answerData.itemId}">
                                <div class="txt">${answerData.imgContent}</div>
                            </a>
                        </div>
                    </div>
                </dd>
                <%}%>
            </dl>
        </section>
        <%}%>
    </div> -->

    <!-- subject -->
       <!-- <section class="header-avatar">
            <div class="clearfix">
                <div class="pic"><img src="${cover_small}" data-origin-image="${cover_medium}">
                    <div class="inner">
                        <div class="heading" data-subject-id="${subjectId}">${name}</div>
                        <div class="txt">${num}个回答</div>
                        <div class="btn-box">
                            <div class="btn-trans collection <%if(hasFavorited){%>active<%}%>" btn-action="collection">
                                <span class="col">收藏</span>
                                <span class="colled">已收藏</span>
                            </div>
                            <div class="btn-trans share" btn-action="share">分享</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="content row special">
            <section class="media media-article">
                <dl class="list clearfix">
                    <dd>
                        <div class="cell">
                            <div class="inner">
                                <div class="answer active">${brief}</div>
                            </div>
                        </div>
                    </dd>
                </dl>
            </section>
            <%if(detail!=null && detail.~size!=0){%>
            <%for(list in detail){%>
            <section class="media media-horizontal media-spec-hori">
                <div class="title">
                    <div class="inner">
                        <p class="tit-con">${list.section_name}</p>
                        <%if(list.section_brief != ''){%>
                            <span>${list.section_brief}</span>
                        <%}%>
                    </div>
                </div>
                <dl class="list clearfix">
                    <%for(item in list.section_detail){%>
                    <dd>
                        <a href="/app/q/${item.question_id}">
                            <h4 class="heading"><span class="txt">${item.question_title}</span></h4>
                        </a>
                        <a href="/app/a/${item.answer_id}" class="cell">
                            <div class="inner">
                                <div class="pic"><img src="${item.answer_img_small}" data-origin-image="${item.answer_img_medium}">
                                </div>
                                <p class="info">
                                    <span class="txt">${item.answer_content}</span>
                                    <span class="pull-left img-head"><img src="${item.user.avatar}" class="img-circle">
                                    <span>${item.user.nick}</span>
                                    <%if(item.user.identityString != '00'){%>
                                    <i class="iconfont badge${item.user.identityString}-m icon-vip"></i>
                                    <%}%>
                                    </span>
                                </p>
                            </div>
                        </a>
                    </dd>
                    <%}%>
                </dl>
                <div class="report" btn-action="report">举报</div>
            </section>
            <%}%>
            <%}%>
            <%if(recentSubject!=null && recentSubject.~size!=0){%>
            <section class="media media-selec-special">
                <div class="title">
                    <div class="inner no-border">
                        <p class="tit-con">专题推荐</p>
                    </div>
                </div>
                <div class="nav-wra">
                    <dl class="list clearfix">
                        <%for(recent in recentSubject){%>
                        <dd>
                            <a class="cell" href="/app/fs/${recent.id}">
                                <div class="inner">
                                    <div class="pic"><img src="${recent.cover_small}"></div>
                                    <h4 class="heading">${recent.title}</h4>
                                </div>
                            </a>
                        </dd>
                        <%}%>
                    </dl>
                </div>
            </section>
            <%}%>
        </div> -->