<!DOCTYPE html>
<html>
	<% include("/WEB-INF/beetl/mobile/units/head.html"){} %>
	<body>
		<% include("/WEB-INF/beetl/mobile/units/header.html"){} %>
		<div class="content row feedback">
			<div class="feed-type"><i class="iconfont icon-wait"></i></div>
			<div class="feed-txt">
				<p>操作成功</p>
				<span>内容详情，根据实际情况哦哦哦哦哦yyyyyyyyyyyyyyyyyyy</span>
			</div>
			<a href="/" class="btn-info btn-full">返回首页</a>
		</div>
		<div data-finish='finish' style="display:none"></div>
	<script type="text/javascript" src="//${ux_domain}/bpelite/${staticVersionCode}/scripts/vendors.js"></script>
	</body>
</html>
