<!DOCTYPE html>
<html>
   <% include("/WEB-INF/beetl/mobile/units/head.html"){} %>
  <body class="main">
    <!-- header-->
 <% include("/WEB-INF/beetl/mobile/units/header.html",{text:"问吧达人"}){} %>
    <div id="content" class="content row search-media favor">
    <%if(bean.userList!=null && bean.userList.~size!=0){%>
      <section class="media media-horizontal">
        <dl class="list clearfix" data-block="list" data-nextpage="${bean.nextPageNo}" data-currpage="${bean.currPageNo}">
          <%for(user in bean.userList){%>
                    <dd>
                    	<% include("/WEB-INF/beetl/mobile/units/user.html",{user:user}){} %>
                        <a href="javascript:;" class="cancel-follow" btn-action="cancel-follow" data-id="${user.bpId}">取消关注</a>
                    </dd>
          <%}%>
        </dl>      
      </section>
      <%}else{%>
      <section class="no-list"><i class="imgs-user-no"></i><p>这里什么都没有哦，快去问吧关注达人吧</p></section>
      <%}%>
    </div>
  </body>
  <script type="text/javascript" src="//${ux_domain!}/bpelite/${staticVersionCode!}/scripts/vendors.js" charset="UTF-8"></script>
  <script type="text/javascript" src="//${ux_domain!}/bpelite/${staticVersionCode!}/scripts/attention-man.js" charset="UTF-8"></script>
   <% include("/WEB-INF/beetl/mobile/units/tail.html"){} %>
</html>