${bean.pageWrapper.toolbarHtml}
    <header id="header" class="header">
        <div class="wrap-head-big wrap-head-person">
            <div class="wrap-inner">
                <div class="pull-left"><a target="_blank" href="http://home.focus.cn"><i class="img-logo"></i></a></div>
                <div class="com-info"><img src="${bean.user.avatar}">
                    <div class="com-tit"><a href="javascript:;" class="com-title">${bean.user.nick}</a>
                    </div>
                    <div class="com-botton">
                    <a href="javascript:;" class="attention <%if(bean.user.isOwner || bean.user.hasFollowed){%>active<%}%>" data-user-id="${bean.user.bpId}" isowner="${bean.user.isOwner}">
                    <i class="iconfont">&#xe606;</i>
                    <span class="atten">关注</span>
                    <span class="atten-after" >已关注</span>
                </a>
		          		<a href="javascript:;" class="share">
	                      <i class="iconfont">&#xe60d;</i>
	                      <span>分享</span>
	                    </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-occupy">
            <div class="nav tab-head tab-head-bar">
                <div class="tab-inner">
                	<a href="javascript:;" class="link active"><span>问吧</span></a></div>
            </div>
        </div>
    </header>
    <div id="content" class="content row">
       <div class="left-side">
            <div class="nav nav-tabs tab-three">
                <a href="/pu/${bean.user.bpId}" target="_self">
                    <div class="inner-tab">问吧动态</div>
                </a>
                <a href="/puq/${bean.user.bpId}" target="_self">
                    <div class="inner-tab">TA的提问</div>
                </a>
                <a href="/pua/${bean.user.bpId}" target="_self" class="active">
                    <div class="inner-tab">TA的回答</div>
                </a>
            </div>
            <% if(bean.feedItemList!=null && bean.feedItemList.~size!=0){ %>
            <section class="media media-article" data-currpage="${bean.currPageNo}" data-nextpage="${bean.nextPageNo}">
                <dl class="list clearfix">
                    <% include("/WEB-INF/beetl/pc/units/answerlist.html",{answerList:bean.feedItemList}){} %>  
                </dl>
                <a href="javascript:;" class="loadmore"><span class="beforeload">加载更多</span><span class="loadwait"><span class="loadgif"></span><span>正在努力加载中，请稍候...</span></span></a>
            </section>
           <%}else{%>
        <div class="nothing"><div class="no-question"></div><p>这里什么都没有</p></div>
        <%}%>
        </div>
       <% include("/WEB-INF/beetl/pc/home/parts/right-side.html",{type:"u",user:bean.user}){} %>
    </div>
    <script type="text/javascript" src="//${ux_domain!}/bpeliteweb/${staticVersionCode!}/scripts/polyfill.js" charset="UTF-8"></script>
    <script type="text/javascript" src="//${ux_domain!}/bpeliteweb/${staticVersionCode!}/scripts/vendors.js"></script>
    <script type="text/javascript" src="//${ux_domain!}/bpeliteweb/${staticVersionCode!}/scripts/person-answer-home.js"></script>

    ${bean.pageWrapper.footerHtml}
  
</body>

</html>
