<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:mvc="http://www.springframework.org/schema/mvc" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:bpEliteWeb/applicationContext.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>bpEliteWeb</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:bpEliteWeb-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>bpEliteWeb</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>wxFilter</filter-name>
    <filter-class>com.sohu.bp.elite.filter.WXFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>wxFilter</filter-name>
    <url-pattern>/wx/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>sna</filter-name>
    <filter-class>com.sohu.bp.elite.sna.filter.SessionSNAFilter</filter-class>
    <init-param>
      <param-name>excludeRegex</param-name>
      <param-value>
          /ask/login.*|/login.*|
          /ask/feature/tagNav.*|
          /ask/feature/slogan.*|
          /ask/feature/tagSquare.*|
          /ask/feature/relevant/tags.*|
          /ask/square/.*|
          /ask/share/.*|
          /uc/.*|/ad/.*|/m|
          /u/userinfo-byid.*|
          /u/default-at-user.*|
          /common/.*|
      </param-value>
    </init-param>
    <init-param>
      <param-name>softLoginRegex</param-name>
      <param-value>
                /ask/index.html|/|
                /ask/question/.*/detail.html|
                /ask/question/.*/answer.*|/q/\\w*|/q/\\w*\\.json|
                /ask/feature/subject/.*|
                /ask/feature/topic/.*|/f.*|
                /ask/question/.*/tags.html|/q/.*/tags|
                /ask/answer/.*/comments.*|/a/.*|
                /ask/search/.*|/s.*|
                /ask/tag/.*/index.*|/t.*|
                /ask/tag/extract|
                /ask/tag/.*/questions.*|
                /ask/tag/.*/answers.*|
                /ask/user/.*/home.*|/pu/.*|/puq/.*|/pua/.*|
                /ask/designer/.*/home.*|/pd.*|
                /ask/foreman/.*/home.*|/pf.*|
                /ask/self/.*/home.*|/ps.*|
                /ask/company/.*/home.*|/pc.*|
                /ask/feature/relevant/users.*|
                /ask/feature/relevant/questions.*|
                /ask/feature/featured.*|
                /ask/fans/.*|/qf/.*|/tf/.*|/uf/.*|
                /ask/question/go.*|/q/go|
                /ask/answer/.*?/go.html|/a/.*?/go|
                /ask/feature/recom/.*|
                /ask/answer/answernum|
                /ask/question/.*/options.json|
                /expert/tags.json|
                /rec/.*|/common/follow|
            </param-value>
    </init-param>
    <init-param>
      <param-name>checkLogin</param-name>
      <param-value>/expert/apply.*</param-value>
    </init-param>
    <init-param>
    	<param-name>wxLogin</param-name>
    	<param-value>/wx.*</param-value>
    </init-param>
    <init-param>
        <param-name>appLogin</param-name>
        <param-value>/app.*</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>sna</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>requestContextFilter</filter-name>
    <filter-class>org.springframework.web.filter.RequestContextFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>requestContextFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>overallFilter</filter-name>
    <filter-class>com.sohu.bp.elite.filter.OverallDataFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>overallFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/beetl/common/404.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/beetl/common/error.html</location>
  </error-page>
</web-app>