${bean.pageWrapper.headerHtml}  
    <div id="content" class="content row">
      <div class="left-side">
        <div class="crumbs">
          <ul>
            <li><a href="/" class="first-level">问吧首页</a></li>
            <li><span>&gt;</span></li>
            <li><a href="javascript:;">标签广场</a></li>
          </ul>
        </div>
        <div class="nav nav-tabs tab-three"><a href="/t/${bean.tag.tagId}">
            <div class="inner-tab">全部动态</div></a><a href="javascript:;" class="active">
            <div class="inner-tab">问题</div></a><a href="/ta/${bean.tag.tagId}">
            <div class="inner-tab">回答</div></a></div>
            <%if(bean.feedItemList!=null && bean.feedItemList.~size!=0){%>
        <section class="media media-article" data-currpage="${bean.currPageNo}" data-nextpage="${bean.nextPageNo}">
          <dl class="list clearfix" data-block="list">
           <% include("/WEB-INF/beetl/pc/units/questionlist.html",{questionList:bean.feedItemList}){} %>          
          </dl>
          <a href="javascript:;" class="loadmore"><span class="beforeload">加载更多</span><span class="loadwait"><span class="loadgif"></span><span>正在努力加载中，请稍候...</span></span></a>
        </section>
        <%}else{%>
        <div class="nothing"><div class="no-question"></div><p>这里什么都没有</p></div>
        <%}%>
      </div>
    <% include("/WEB-INF/beetl/pc/tag/parts/right-side.html",{tag:bean.tag}){} %>     
          </div>
    ${bean.pageWrapper.footerHtml}
    <script type="text/javascript" src="//${ux_domain!}/bpeliteweb/${staticVersionCode!}/scripts/polyfill.js" charset="UTF-8"></script>
     <script type="text/javascript" src="//${ux_domain!}/bpeliteweb/${staticVersionCode!}/scripts/vendors.js" charset="UTF-8"></script>
<script type="text/javascript" src="//${ux_domain!}/bpeliteweb/${staticVersionCode!}/scripts/label-plaza-question.js" charset="UTF-8"></script>
  </body>
</html>