<?xml version="1.0" encoding="gbk"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="configuration" class="com.sohu.bp.elite.consumer.Configuration" init-method="init" />
    <!-- kafka 消费 service-->
    <bean id="zombieKafkaService" class="com.sohu.bp.elite.consumer.service.impl.KafkaServiceImpl">
        <property name="zkConnect" value="${kafka.zk.con}"/>
        <property name="zkNode" value="${kafka.zk.node}"/>
        <property name="threadNum" value="${kafka.consume.threadnum}"/>
        <property name="groupId" value="${zombie.consumer.groupid}"/>
    </bean>

    <bean id="userInfoService" class="com.sohu.bp.elite.consumer.service.impl.UserInfoServiceImpl">
    </bean>

    <bean id="zombieListener" class="com.sohu.bp.elite.consumer.listener.ZombieListener" init-method="init">
        <property name="kafkaService" ref="zombieKafkaService"/>
        <property name="topicName" value="${zombie.conusmer.topic}"/>
        <property name="userInfoService" ref="userInfoService"/>
    </bean>
</beans>


