<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	  http://www.springframework.org/schema/beans/spring-beans.xsd 
	  http://www.springframework.org/schema/aop
      http://www.springframework.org/schema/aop/spring-aop-3.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="eliteQuestionSequence" class="com.sohu.bp.elite.db.sequence.TableNormalSequence">
		<property name="dataSource"	ref="bpAssistSource"/>
		<property name="sequenceTableName" value="elite_question"/>
	</bean>
	<bean id="eliteAnswerSequence" class="com.sohu.bp.elite.db.sequence.TableNormalSequence">
		<property name="dataSource"	ref="bpAssistSource"/>
		<property name="sequenceTableName" value="elite_answer"/>
	</bean>
	<bean id="eliteMediaSequence" class="com.sohu.bp.elite.db.sequence.TableNormalSequence">
		<property name="dataSource"	ref="bpAssistSource"/>
		<property name="sequenceTableName" value="elite_media"/>
	</bean>


 </beans>